<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>E-shop</title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body ng-app="myApp">
    <div class="header">

      <div class="container">

        <h1 class="titleOne">E-kicks</h1>
      </div>
    </div>


    <div class="main" ng-controller="MainController">
    <div class="container">

        <div ng-repeat="product in products">
         <div class="thumbnail">
           <img ng-src="{{ product.cover }}" class='cover'>
            <div class="">
            </div >

           <p class="price"> {{ product.price | currency }}</p>
        </div>

        <p class="likes" ng-click="plusOne($index)">+ {{ product.likes }} </p>
            <p class="dislikes" ng-click="minusOne($index)">- {{product.dislikes}}</p>

    </div>

<script src="bower_components/angular/angular.js"> </script>
    <script src="app.js"></script>
    <script src="MainController.js"></script>

  </body>
</html>
