body {
  background-color: #c0c6d0; }

.titleOne {
  text-align: center; }

.cover {
  display: inline-block; }

.thumbnail {
  display: inline-block;
  margin-left: 33%;
  margin-top: 30%; }

.cover:hover {
  border: 2px solid yellow;
  transform: scale(1.1, 1.1);
  transition: ease-in .2s;
  transition: ease-out .2s; }

.ng-scope {
  display: inline-block; }

.price {
  position: absolute;
  color: black; }
